*.[oa]
*.*
*.sln
*.vcxproj
.vs
build
build32
Debug
TempRsrv
ExamplesNExperiments/TaskExecuteLogger
ExamplesNExperiments/packet_improvement_test
ExamplesNExperiments/packet_task_test
ExamplesNExperiments/Lwip_memhandling
ExamplesNExperiments/sntp_tests
ExamplesNExperiments/Manch
ExamplesNExperiments/ProtocolDev
!*.c
!*.cpp
!*.h
!*.ino
!*.json
!*.gitignore
!*.txt
!*.md
!*.cmake
!Debug/*.exe
!Release/*.exe
f