*.[oa]
*.*
*.sln
*.vcxproj
.vs
build
Debug
TempRsrv
ExamplesNExperiments/TaskExecuteLogger
ExamplesNExperiments/packet_improvement_test
ExamplesNExperiments/packet_task_test
!*.c
!*.h
!*.json
!*.gitignore
!*.txt
!*.md
!*.cmake
!Debug/*.exe
!Release/*.exe
f